<div class="jga jga-profile">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row container-fluid">
            <div class="col-sm-4 hidden-xs">
                <div class="navbar-text pull-left">
                    <a href="widget-list.view.client.html">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Choose Widget
                    </a>
                </div>
            </div>
        </div>
    </nav>



    <div class="container-fluid">

        <ul class="list-group">

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="widget-heading.view.client.html">
                            Header
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#">
                            Label
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#">
                            HTML
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#">
                            Text Input
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#">
                            Button
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="widget-image.view.client.html">
                            Image
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="widget-youtube.view.client.html">
                            Youtube
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#">
                            Data Table
                        </a>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4">
                        <a href="#">
                            Repeater
                        </a>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="col-sm-4 hidden-xs">
        </div>
        <div class="row container-fluid">
            <div class="col-sm-8">
                <div class="navbar-text pull-right">
                    <a href="../../user/templates/profile.view.client.html">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

</div>