<div class="jga jga-profile">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="row container-fluid">
            <div class="col-xs-3 hidden-xs">
                <div class="navbar-text pull-left">
                    <a href="#!/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Websites
                    </a>
                </div>
                <div class="navbar-text pull-right" style="margin-right: 30px;">
                    <a href="#!/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-lg-9">
                <div class="navbar-text pull-right">
                    <a ng-click="model.createWebsite(model.website)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        New Website
                    </a>
                </div>
            </div>
        </div>
    </nav>



    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-3 visible-lg jga-split-view-left">

                <ul class="list-group">
                    <li ng-repeat="website in model.websites" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4">{{website.name}}</div>
                            <div class="col-xs-6 col-sm-3"></div>
                            <div class="col-sm-3 hidden-xs"></div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                                    <span class="glyphicon glyphicon-cog pull-right"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
            <div class="col-xs-12 col-lg-9 jga-split-view-right">

                <label for="name">Name</label>
                <input name="firstName"
                       placeholder="Name"
                       class="form-control"
                       type="text"
                       id="name"
                       ng-model="model.website.name"/>

                <label for="description">Description</label>
                <textarea name="firstName"
                          rows="5"
                          placeholder="Description"
                          class="form-control"
                          type="text"
                          id="description"
                          ng-model="model.website.description"></textarea>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="col-sm-4 hidden-xs">
        </div>
        <div class="row container-fluid">
            <div class="col-sm-8">
                <div class="navbar-text pull-right">
                    <a href="#!/profile/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

</div>