<div class="container-fluid">
    
    <h1>
        Tournament Diaries
    </h1>
    <h4>
        Never forget the details!
    </h4>
    <h2>Register</h2>

    <label for="username">Username</label>
    <input name="username"
           placeholder="username"
           class="form-control"
           type="text"
           id="username"
           ng-model="model.user.username"/>

    <label for="password">Password</label>
    <input name="password"
           placeholder="password"
           type="password"
           class="form-control"
           id="password"
           ng-model="model.user.password"/>

    <label for="verify">Verify Password</label>
    <input name="verify"
           placeholder="verify password"
           type="password"
           class="form-control"
           id="verify"
           ng-model="model.user.verify"/>

    <a class="btn btn-default btn-primary btn-block"
       ng-click="model.registerUser(model.user)"
       role="button">Register</a>

    <a class="btn btn-default btn-danger btn-block"
       href="#!/login"
       role="button">Cancel</a>
</div>